[user]
	name = eric hsieh
	email = eric_hsieh@alphanetworks.com
[color]
	ui = auto
[core]
	editor = vi
	excludesfile = /home/eric/.gitignore
[alias]
	co = checkout
	ci = commit
	st = status
	di = diff
	df = diff --cached
	info = config --list
	ut = ls-files --others --exclude-standard
